*.pyc 
*.pyo
__pycache__/
project_venv/
.vscode

# fragments

*.txt
build/
dist/*
scr.*
test_venv2/
Spending_tracker_OTA.egg-info/

# Packaging

*.egg-info/

# Database

development.db
testfolder
