*.pyc 
*.pyo
__pycache__/
project_venv/
.vscode

.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/programmable_web2019.iml
.idea/vcs.xml

# fragments

*.txt
build/
dist/*
test_venv2/
Spending_tracker_OTA.egg-info/

# Packaging

*.egg-info/

# Database

development.db
testfolder
