*.pyc 
*.pyo
__pycache__/
project_venv/
tracker_venv/
test_venv2/
.vscode

.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/programmable_web2019.iml
.idea/vcs.xml

# fragments

*.txt
build/
dist/*
Spending_tracker_OTA.egg-info/

# Packaging

*.egg-info/
.eggs/
# Database

development.db
testfolder

#tests

.coverage
htmlcov/
